@model List<Appointment>
@{
	Layout = "_Layout";
}
<main role="main" class="main p-4">
	<h3 class="fw-bold mb-4" style="color:#0f6d63">My Appointments</h3>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Date</th>
				<th>Time Slot</th>
				<th>Token</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var a in Model)
			{
				<tr>
					@* <td class="align-middle fw-bold">@a.id</td> *@
					<td class="align-middle">
						@{
							var pd = DateTime.TryParse(a.appointmentDate, out var dt) ? dt.ToString("MMM dd, yyyy") : a.appointmentDate;
						}
						@pd
					</td>
					<td class="align-middle">@a.timeSlot</td>
					<td class="align-middle fw-bold text-secondary">
						@(a.queueEntry != null ? a.queueEntry.tokenNumber.ToString() : "N/A")
					</td>
					<td class="align-middle">
						@if (a.queueEntry.status == "waiting")
						{
							<span class="badge bg-warning-light text-danger">@a.queueEntry.status</span>
						}
						else if (a.queueEntry.status == "in_progress")
						{

							<span class="badge bg-primary-light text-dark">@a.queueEntry.status</span>
						}
						else
						{

							<span class="badge bg-success-light text-dark">@a.queueEntry.status</span>
						}
					</td>
					
					<td class="align-middle">
						<a asp-action="Details" asp-route-id="@a.id" class="btn btn-sm btn-info text-white" style="background-color:#0f6d63;"> Mediciens & report</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</main>